:not(pre) {
  font-family: Helvetica;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 100px 50px;
  padding-bottom: 0;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  background: linear-gradient(315deg, #85144b, #00dbde);
}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0 auto;
  max-width: 600px;
  background: #f6f9fc;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 4px 36px rgba(50, 50, 93, 0.11), 0 1px 33px rgba(0, 0, 0, 0.08);
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin: 0 0.5em;
}

.link__home {
  color: #5f9ea0;
}

.app-name {
  margin-bottom: 30px;
}

.note-area {
  margin-bottom: 20px;
}

.note-title {
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  margin: 0 7px;
}

.wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.field__search {
  position: relative;
  margin: 0 0 20px;
  width: 100%;
  font-size: 22px;
  font-family: inherit;
  font-weight: inherit;
  font-style: italic;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 4px;
  border-bottom: 1px solid #999;
}

.field__search::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.field__search::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.field__search::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.element__item {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.2rem;
  transition: color 0.5s;
  text-align: left;
}

.element__item label {
  cursor: pointer;
}

input {
  margin-right: 1rem;
  background-color: #f6f9fc;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }
}

@media (max-width: 400px) {
  #app {
    padding: 10px 5px;
  }
  .wrapper {
    margin: 15px 0;
  }
}
